<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--使用下面这种方式，可以自动将下划线方式命名的数据库映射到java对象的驼峰式命名属性中-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
    </settings>

    <!--多数据库支持-->
    <!--<databaseIdProvider type ="DB VENDOR"></databaseIdProvider>-->

    <!--配置一个包的别名，通常使用一个类是需要使用类的全限定名称，配置了改配置后，就不需要了-->
    <typeAliases>
        <package name="com.stotk.mybatisdemo.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="0000"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--也可以使用全局配置，如：
        <mapper resource="mapper"/>
        整个mapper包下面的xml文件都会映射对应的Mapper接口
        -->
        <mapper resource="mapper/CountryMapper.xml"/>
        <mapper resource="mapper/PrivilegeMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/RolePrivilegeMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UserRoleMapper.xml"/>
        <mapper resource="generator/UserEntityMapper.xml"/>
    </mappers>

</configuration>